fund=false
audit=false
save-exact=false
init.author.name=Artur Skowronski
init.author.email=artur.skowronski@outlook.com
init.author.url=http://arturskowronski.com
init.license=MIT
init.version=0.0.1
