packages: [
  "atom-beautify"
  "auto-update-packages"
  "brogrammer-syntax"
  "brogrammer-ui"
  "git-plus"
  "highlight-selected"
  "language-groovy"
  "minimap"
  "minimap-autohide"
  "nucleus-dark-ui"
  "package-sync"
  "pigments"
  "project-manager"
  "seti-syntax"
  "seti-ui"
  "Sublime-Style-Column-Selection"
  "terminal-plus"
]
